<section class="w-full h-fit top-24 absolute mt-0 flex flex-col">
  <div class="flex flex-col mx-auto mt-16 justify-center items-center">
    <p class="uppercase text-2xl text-sky-700 background-transparent font-semibold mx-auto">Always Caring</p>
    <p class="text-normal text-5xl mb-0 h-fit">Our Specialties</p>
  </div>
  <div class="max-w-5xl mx-auto mt-16">
    <% @doctor_categories.each do |category| %>
      <%= link_to doctor_category_path(category), class: "my-0 !no-underline text-center inline-flex flex-col flex-wrap w-60 h-60 justify-center items-center hover:bg-blue-500 hover:text-white" do %>
        <%= cl_image_tag("Vector_qzciui") %>
        <span class="mx-auto text-black text-2xl mt-4"><%= category.name %></span>
      <% end %>
    <% end %>
  </div>
</section>
