<h1>Doctor Profile</h1>

<h2>Welcome, <%= @doctor.first_name %> <%= @doctor.last_name %></h2>

<h3>Appointments:</h3>
<ul>
  <% @appointments.each do |appointment| %>
    <li><%= appointment.time %></li>
  <% end %>
</ul>
