<footer class="bg-blue-900 w-full text-lg">
    <div class="w-full flex flex-wrap items-center justify-between p-4">
        <div class="flex flex-row justify-between w-1/3 items-center">
          <%= link_to "Meddical", root_path, class:"!no-underline font-normal uppercase text-2xl !text-white" %>
          <p class="text-white" style="align-self: center;">© 2023</p>
          <p class="text-white">All Rights Reserved</p>
        </div>
        <div style="width: 40%;" class="">
          <ul class="!items-center list-none text-white flex flex-wrap items-center mt-3 font-medium sm:mt-0" style="display: flex; justify-content: space-between;">
              <li>
                  <%= link_to "Home", root_path, class: "!text-white !no-underline" %>
              </li>
              <li>
                  <%= link_to "Doctors", doctor_categories_path, class: "!text-white !no-underline" %>
              </li>
          </ul>
        </div>
    </div>
</footer>
